.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

.button{
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}